@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* Fondo claro premium por defecto según diseño */
  background-color: #F8FAFC; 
  color: #0F172A;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}